---
permalink: /debug/index.html
---
<h1>Отладка: Collections.categories</h1>
<pre>{{ collections.categories | json }}</pre>
<h1>Отладка: Collections.regions</h1>
<pre>{{ collections.regions | json }}</pre>