<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Спасибо за отправку!</title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="{{site.url}}/css/style.css" />
  </head>
  <body>
    <main class="main-content">
      <section class="thank-you-section">
        <h1>Спасибо!</h1>
        <p>
          Ваш профиль успешно отправлен. Он будет добавлен на сайт в ближайшее
          время.
        </p>
        <a href={{site.url}} class="home-link">Вернуться на главную</a>
      </section>
    </main>
  </body>
</html>
