<div class="filters">
 <label for="region-select" class="visually-hidden">Выберите регион</label>
<select id="region-select" aria-label="Фильтр по региону">
  <option value="все">Все регионы</option>
</select>

<label for="category-select" class="visually-hidden">Выберите категорию</label>
<select id="category-select" aria-label="Фильтр по категории">
  <option value="все">Все категории</option>
</select>
</div>
