<div class="filters">
  <label for="region-select">Выберите регион:</label>
  <select id="region-select">
    <option value="все">Все регионы</option>
  </select>

  <label for="category-select">Выберите категорию:</label>
  <select id="category-select">
    <option value="все">Все категории</option>
  </select>
</div>
