<div class="filters">
  <label for="region-select">Выберите регион:</label>
  <select id="region-select">
    <option value="все">Все регионы</option>
    {% for region in allRegions %}
      <option value="{{ region | escape | downcase | replace: ' ', '-' }}">{{ region | escape }}</option>
    {% endfor %}
  </select>

  <label for="category-select">Выберите категорию:</label>
  <select id="category-select">
    <option value="все">Все категории</option>
    {% for category in allCategories %}
      <option value="{{ category | escape | downcase | replace: ' ', '-' }}">{{ category | escape }}</option>
    {% endfor %}
  </select>
</div>
